apiVersion: batch/v1
kind: Job
metadata:
  name: import-admin-areas
  namespace: mapster
spec:
  template:
    spec:
      initContainers:
        - name: wait-for-db
          envFrom:
            - secretRef:
                name: db-secret
          command:
            - sh
            - -c
            - |
              set -euo pipefail
              until pg_isready -h "$PGHOST" -p "$PGPORT" -U "$PGUSER" -d "$PGDATABASE"; do
                echo "waiting for postgres...";
                sleep 2;
              done
      containers:
        - name: import
          env:
            - name: PGHOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: PGHOST
            - name: PGPORT
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: PGPORT
            - name: PGDATABASE
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: PGDATABASE
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: PGUSER
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: PGPASSWORD
